<header class="main-section__header">
  <app-main-header>Personal info</app-main-header>
</header>
<section class="main-section">
  <app-main-instructions>
    Please provide your name, email address, and phone number.
  </app-main-instructions>
  <form appForm [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-form-field [control]="form.controls.plan">
      <app-plan-selector
        formControlName="plan"
        [selectedBillingFrequency]="form.controls.billingFrequency.value"
        [allPlans]="plans()"
      />
    </app-form-field>
    <app-form-field [control]="form.controls.billingFrequency">
      <app-billing-frequency-toggle formControlName="billingFrequency" />
    </app-form-field>
  </form>
</section>
