.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 17px 1fr 17px;
  grid-template-rows: 98px 1fr 10%;
}

.navigation {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .container {
    grid-template-columns: 1fr 300px 650px 1fr;
    grid-template-rows: 1fr 500px 100px 1fr;
  }
}
