<header class="main-section__header">
  <img
    src="assets/images/icon-thank-you.svg"
    alt="thank you"
    width="57"
    height="57"
  />
  <h1 class="main-section__title">Thank you!</h1>
</header>
<section class="main-section">
  <h2 class="main-section__instructions main-section__instructions-step-5">
    Thanks for confirming your subscription! We hope you have fun using our
    platform. If you ever need support, please feel free to email us at
    <a href="mailto:support@loremgaming.com">support&#64;loremgaming.com</a>.
  </h2>
</section>
