.label__text {
  color: var(--marine-blue);
  font-size: small;
  font-weight: 700;
  cursor: pointer;
}

.form__input-checkbox {
  width: 25px;
  height: 25px;
  accent-color: var(--purplish-blue);
}
