.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}

.hidden {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}
